/*Class（いいね！）*/
.nice {
  cursor : pointer;
  color: blue;
}

.red {
  color: red;
}

.blue {
  color: blue;
}


.maplibregl-popup .maplibregl-popup-content{
	padding: 8px 10px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: black;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	border-radius: 5px;
	width: fit-content;
}

.maplibregl-ctrl-geocoder {
	font-size: 12px;
	line-height: 12px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: relative;
	background-color: #fff;
	width: 80%;
	min-width: 100px;
	z-index: 1;
	border-radius: 5px;
	transition: width 0.25s, min-width 0.25s;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.maplibregl-ctrl-geocoder .suggestions {
    font-size: 10px;
  }


/*送信ボタン*/
#share_info_Button {
  appearance: none;
  border: 0;
  border-radius: 4px;
  background: #4676D7;
  color: #fff;
  padding: 3px 3px;
  font-size: 11px;
  height:20px;
  text-align: center;
  cursor: pointer;
}

/*送信URL*/
#db_share_info_URL {
  margin-top: 2px; /* 下方向に2px移動 */
  width: 180px;
  font-size: 10px;
}


/*削除ボタン*/
#delete_share_info_Button {
  appearance: none;
  border: 0;
  border-radius: 4px;
  background: #4676D7;
  color: #fff;
  padding: 3px 3px;
  font-size: 11px;
  height:20px;
  text-align: center;
  cursor: pointer;
}


